<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1">
        {% if is_granted('ROLE_USER') %}
        <a class="btn btn-sm btn-outline-secondary" href="#">{{app.user.fullname}}</a>
        {% endif %}
    </div>
    <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="{{path('blog')}}">Khechini Blog.</a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
        {% if is_granted('ROLE_USER') %}
        <a class="btn btn-sm " href="{{path('security_logout')}}">Déconnexion</a>
        
        {% else %}
        <a class="btn btn-sm btn-outline-secondary" href="#">Inscription</a>
        <a class="btn btn-sm " href="{{path('security_login')}}">Connexion</a>
        {% endif %}    
    </div>
    </div>
</header>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="{{path('blog')}}">Accueil</a>
        <a class="p-2 link-secondary" href="#">Actualités</a>
        <a class="p-2 link-secondary" href="#">About US</a>
        <a class="p-2 link-secondary" href="#">CONTACT</a>
        
        <form class="form-inline p2" style="display: flex;">
            <i class="fas fa-search link-secondary p-2" aria-hidden="true"></i>
            <input class="search form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Search">
        </form>
    </nav>
</div>