{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}
    <div class="container">
        {% include "/includes/header.html.twig" %}

        <main class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="Blogheading">
                        <h3>Post</h3>
                    </div>
                </div>
                
            </div>
            <div class="section layout_padding blog_blue_bg light_silver">
                <div class="row">
                    <div class="col-md-8">
                        <div class="full">
                            <div class="big_blog">
                                <img class="img-responsive" src="../images/post1.jpg" alt="website template image">
                            </div>
                            <div class="blog_cont_2">
                                <h3>{{post.title}}</h3>
                                <p class="sublittle">{{ post.time | date("F jS \\à g:ia")}}</p>
                                <p>{{post.body}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mx-4">
                        {{ include ("/includes/sidebar.html.twig", {'latests': latests})}}
                    </div>
                </div>
            </div>

            <section class="layout_padding">
                <div class="container">
                    <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                        <h4 style="border-bottom: solid #333 2px;">Comments / 2</h4>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="full comment_blog_line">
                        <div class="row" style="padding: 19px;">
                            <div class="col-md-10">
                            <div class="full contact_text">
                                <h3>Veniam</h3>
                                <h4>Posted on Jan 10 / 2045 at 06:53 am</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                            </div>
                            <div class="col-md-2"><a class="reply_bt" href="https://www.free-css.com/free-css-templates">Reply</a></div>
                        </div>
                        </div>
                        <div class="full comment_blog_line">
                        <div class="row" style="padding: 19px;">
                            <div class="col-md-10">
                            <div class="full contact_text">
                                <h3>Jack</h3>
                                <h4>Posted on Jan 10 / 2045 at 06:53 am</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                            </div>
                            <div class="col-md-2"><a class="reply_bt" href="https://www.free-css.com/free-css-templates">Reply</a></div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="row margin_top_30">
                    <div class="col-md-12 margin_top_30">
                        <div class="heading" style="padding-left:15px;padding-right:15px;">
                        <h4>Post : Your Comment</h4>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="full comment_form">
                        <form action="#" method="post">
                            <fieldset>
                            <div class="col-md-12">
                                <div class="row">
                                <div class="col-md-6">
                                    <textarea placeholder="Comment"></textarea>
                                </div>
                                </div>
                                <div class="row margin_top_30">
                                <div class="col-md-12">
                                    <div class="center">
                                        <button>Send</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </fieldset>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                </section>
        </main>
    </div>
    {% include "/includes/footer.html.twig" %}
{% endblock %}